*,
*::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 96px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 18px;
  }
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-item-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 360px;
          flex: 1 1 360px;
}

@media screen and (min-width: 1440px) {
  .flex-item-1 p {
    max-width: 440px;
  }
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .flex-item-1 p {
    max-width: 390px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .flex-item-1 p {
    max-width: 438px;
  }
}

@media screen and (max-width: 960px) {
  .flex-item-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-item-1 p {
    max-width: 600px;
    margin: 16px auto;
    text-align: center;
  }
  .flex-item-1 h1 {
    max-width: 700px;
  }
  .flex-item-1 .flex-start {
    margin: 8px auto;
  }
}

.flex-item-2 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 360px;
          flex: 2 1 360px;
}

.flex-item-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 360px;
          flex: 3 1 360px;
}

.flex-item-4 {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 360px;
          flex: 4 1 360px;
}

.flex-item-5 {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 360px;
          flex: 5 1 360px;
}

.flex-item-auto {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 auto;
          flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

.hero {
  height: 90%;
}

@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }
}

.bg-home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.svg-bg-home {
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .svg-bg-home {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .svg-bg-home {
    width: 150%;
  }
}

.hero {
  height: 90vh;
}

@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }
}

.list-item {
  list-style: none;
  position: relative;
  padding: 8px 8px 8px 72px;
  margin-bottom: 48px;
}

.list-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: -8px;
  display: block;
  width: 64px;
  height: 64px;
}

h1 {
  color: #232224;
  font-family: 'Sora', sans-serif;
  font-size: calc(max(36px, 2.98vw));
  font-size: clamp(36px, 5.2vw, 56px);
  line-height: 100%;
}

h2 {
  color: #161617;
  font-family: 'Sora', sans-serif;
  font-size: clamp(36px, 4.4vw, 52px);
  line-height: 100%;
}

h3 {
  color: #161617;
  font-family: 'Sora', sans-serif;
  font-size: clamp(24px, 3vw, 36px);
  line-height: 120%;
}

h4 {
  color: #161617;
  font-family: 'Sora', sans-serif;
  font-size: clamp(18px, 2vw, 24px);
  line-height: 130%;
}

h5 {
  text-transform: uppercase;
  background: linear-gradient(220.94deg, #a950c4 14.43%, #82269e 85.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: 'Sora', sans-serif;
  font-size: clamp(16px, 1.8vw, 18px);
  line-height: 145%;
}

p {
  color: #666566;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: clamp(14px, 1.8vw, 16px);
  line-height: 145%;
}

.bold {
  font-weight: bold;
  color: #353436;
}

strong {
  color: #161617;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: clamp(14px, 1.8vw, 16px);
  line-height: 145%;
}

.text-center {
  text-align: center;
}

button,
a {
  cursor: pointer;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: clamp(14px, 1.8vw, 16px);
  line-height: 145%;
  text-decoration: none;
  color: #232224;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  display: inline-block;
}

a:hover {
  opacity: 0.9;
}

.btn {
  background: linear-gradient(220.94deg, #a950c4 14.43%, #82269e 85.28%);
  border-radius: 16px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #fefbff;
  padding: 12px 32px;
  -webkit-box-shadow: 0px 17px 17px rgba(169, 80, 196, 0.13), 0px 5.125px 5.125px rgba(169, 80, 196, 0.0847066), 0px 2.12866px 2.12866px rgba(169, 80, 196, 0.065), 0px 0.7699px 0.7699px rgba(169, 80, 196, 0.0452935);
          box-shadow: 0px 17px 17px rgba(169, 80, 196, 0.13), 0px 5.125px 5.125px rgba(169, 80, 196, 0.0847066), 0px 2.12866px 2.12866px rgba(169, 80, 196, 0.065), 0px 0.7699px 0.7699px rgba(169, 80, 196, 0.0452935);
}

.btn:hover {
  -webkit-box-shadow: 0px 17px 31px rgba(169, 80, 196, 0.27), 0px 5.125px 9.34559px rgba(169, 80, 196, 0.175929), 0px 2.12866px 3.88168px rgba(169, 80, 196, 0.135), 0px 0.7699px 1.40393px rgba(169, 80, 196, 0.094071);
          box-shadow: 0px 17px 31px rgba(169, 80, 196, 0.27), 0px 5.125px 9.34559px rgba(169, 80, 196, 0.175929), 0px 2.12866px 3.88168px rgba(169, 80, 196, 0.135), 0px 0.7699px 1.40393px rgba(169, 80, 196, 0.094071);
}

.link {
  display: inline-block;
  background-image: url("../../svg/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  font-size: 18px;
  padding: 16px 16px 16px 40px;
  position: relative;
  color: #82269e;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.link:hover {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.s-0 {
  margin: 0;
  padding: 0;
}

.m-1 {
  margin: 8px;
}

.m-2 {
  margin: 16px;
}

.m-3 {
  margin: 48px;
}

.m-4 {
  margin: 72px;
}

.m-5 {
  margin: 128px;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 48px;
}

.mt-4 {
  margin-top: 72px;
}

.mt-5 {
  margin-top: 128px;
}

.ml-1 {
  margin-left: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.ml-3 {
  margin-left: 48px;
}

.ml-4 {
  margin-left: 72px;
}

.ml-5 {
  margin-left: 128px;
}

.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 48px;
}

.mr-4 {
  margin-right: 72px;
}

.mr-5 {
  margin-right: 128px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 48px;
}

.mb-4 {
  margin-bottom: 72px;
}

.mb-5 {
  margin-bottom: 128px;
}

.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-3 {
  margin-left: 48px;
  margin-right: 48px;
}

.mx-4 {
  margin-left: 72px;
  margin-right: 72px;
}

.mx-5 {
  margin-left: 128px;
  margin-right: 128px;
}

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-3 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.my-4 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.my-5 {
  margin-top: 128px;
  margin-bottom: 128px;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 48px;
}

.p-4 {
  padding: 72px;
}

.p-5 {
  padding: 128px;
}

.pt-1 {
  padding-top: 8px;
}

.pt-2 {
  padding-top: 16px;
}

.pt-3 {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 72px;
}

.pt-5 {
  padding-top: 128px;
}

.pl-1 {
  padding-left: 8px;
}

.pl-2 {
  padding-left: 16px;
}

.pl-3 {
  padding-left: 48px;
}

.pl-4 {
  padding-left: 72px;
}

.pl-5 {
  padding-left: 128px;
}

.pr-1 {
  padding-right: 8px;
}

.pr-2 {
  padding-right: 16px;
}

.pr-3 {
  padding-right: 48px;
}

.pr-4 {
  padding-right: 72px;
}

.pr-5 {
  padding-right: 128px;
}

.pb-1 {
  padding-bottom: 8px;
}

.pb-2 {
  padding-bottom: 16px;
}

.pb-3 {
  padding-bottom: 48px;
}

.pb-4 {
  padding-bottom: 72px;
}

.pb-5 {
  padding-bottom: 128px;
}

.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-3 {
  padding-left: 48px;
  padding-right: 48px;
}

.px-4 {
  padding-left: 72px;
  padding-right: 72px;
}

.px-5 {
  padding-left: 128px;
  padding-right: 128px;
}

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-3 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-4 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.py-5 {
  padding-top: 128px;
  padding-bottom: 128px;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  background-color: #edeaef;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg,
img {
  display: block;
  width: 100%;
}

.border {
  border: 1px solid red;
}

header {
  width: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  position: fixed;
  z-index: 999;
}

.active-header {
  background: #f7f2fa;
  -webkit-box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
          box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
}

.login-btn-desktop {
  border: 1px solid #a950c4;
  border-radius: 16px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #232224;
  padding: 12px 32px;
}

.login-btn-desktop:hover {
  -webkit-box-shadow: 0px 17px 31px rgba(169, 80, 196, 0.27), 0px 5.125px 9.34559px rgba(169, 80, 196, 0.175929), 0px 2.12866px 3.88168px rgba(169, 80, 196, 0.135), 0px 0.7699px 1.40393px rgba(169, 80, 196, 0.094071);
          box-shadow: 0px 17px 31px rgba(169, 80, 196, 0.27), 0px 5.125px 9.34559px rgba(169, 80, 196, 0.175929), 0px 2.12866px 3.88168px rgba(169, 80, 196, 0.135), 0px 0.7699px 1.40393px rgba(169, 80, 196, 0.094071);
}

.login-btn {
  border: 1px solid #a950c4;
  border-radius: 12px;
  padding: 8px 8px;
  z-index: 800;
}

.navbar-desktop {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 960px) {
  .navbar-desktop {
    display: none;
  }
}

.logo {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 800;
}

.navbar-desktop-item-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-desktop-item-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desktop {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desktop .menu-item {
  margin-left: 16px;
  position: relative;
}

@media screen and (max-width: 960px) {
  .menu-desktop {
    display: none;
  }
}

.nav-link-desktop {
  display: inline-block;
  padding: 12px 16px;
  position: relative;
}

.nav-link-desktop::after {
  content: '';
  position: absolute;
  top: 42%;
  right: -3px;
  width: 7px;
  height: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 1px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  border-bottom: 2px solid #82269e;
  border-right: 2px solid #82269e;
}

.nav-link-desktop:hover::after {
  top: 45%;
}

.dropdown-menu {
  background: #fefbff;
  border-radius: 16px;
  padding: 16px 24px;
  -webkit-box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
          box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08), 0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271), 0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04), 0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
  list-style: none;
  position: absolute;
  top: 48px;
  left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.dropdown-menu .dropdown-item {
  width: 100%;
}

.active-dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.nav-link-dropdown {
  display: inline-block;
  width: 100%;
  padding: 8px 16px;
  position: relative;
}

.nav-link-dropdown::after {
  content: '';
  position: absolute;
  top: 90%;
  left: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 0;
  height: 2px;
  background: #a950c4;
}

.nav-link-dropdown:hover::after {
  width: 100%;
}

.navbar-mobile {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 24px;
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.bx {
  width: 36px;
  height: 36px;
  position: relative;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  cursor: pointer;
}

.bx::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 17%;
  width: 70%;
  height: 2px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: #82269e;
}

.bx::before {
  content: '';
  position: absolute;
  top: 64%;
  left: 17%;
  width: 70%;
  height: 2px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: #82269e;
}

.active-bx {
  width: 36px;
  height: 36px;
  position: relative;
  cursor: pointer;
  z-index: 900;
}

.active-bx::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 17%;
  width: 70%;
  height: 2px;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: #82269e;
}

.active-bx::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 17%;
  width: 70%;
  height: 2px;
  -webkit-transform: rotate(-315deg);
          transform: rotate(-315deg);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: #82269e;
}

.menu-mobile {
  width: 100%;
  height: 110vh;
  background: #f7f2fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

@media screen and (max-width: 1440px) and (min-width: 1140px) {
  .menu-mobile {
    display: none;
  }
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .menu-mobile {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .menu-mobile {
    display: none;
  }
}

.active-menu-mobile {
  opacity: 1;
  visibility: visible;
}

.nav-list-mobile {
  max-width: 1440px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-list-mobile svg {
  width: 36px;
  height: 36px;
}

.nav-list-mobile svg path {
  stroke: #a6a6a7;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav-list-mobile svg:hover path {
  stroke: #82269e;
}

.nav-link-mobile {
  display: inline-block;
  font-family: 'Sora', sans-serif;
  font-size: clamp(24px, 3vw, 36px);
  line-height: 120%;
  color: #555456;
  padding: 16px 24px;
  position: relative;
}

.nav-link-mobile:hover {
  color: #82269e;
}

.dropshadow {
  -webkit-filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
          filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}

.bg-icon-check::after {
  background-image: url("../../svg/icon-check.svg");
  background-size: cover;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 40px;
  height: 40px;
  left: 8px;
  top: 16px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
          filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}

.bg-icon-check:hover::after {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.div-card {
  -webkit-perspective: 500px;
          perspective: 500px;
  position: relative;
}

.card {
  width: 340px;
  height: 214.2px;
  border-radius: 12px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-color: transparent;
  z-index: -1;
  -webkit-box-shadow: 0px 4px 80px rgba(130, 38, 158, 0.07), 0px 1.20588px 24.1177px rgba(130, 38, 158, 0.0456112), 0px 0.50086px 10.0172px rgba(130, 38, 158, 0.035), 0px 0.18115px 3.62304px rgba(130, 38, 158, 0.0243888);
          box-shadow: 0px 4px 80px rgba(130, 38, 158, 0.07), 0px 1.20588px 24.1177px rgba(130, 38, 158, 0.0456112), 0px 0.50086px 10.0172px rgba(130, 38, 158, 0.035), 0px 0.18115px 3.62304px rgba(130, 38, 158, 0.0243888);
  -webkit-animation: flip-card 12s linear infinite alternate, change-bg-card 12s linear 0s infinite alternate;
          animation: flip-card 12s linear infinite alternate, change-bg-card 12s linear 0s infinite alternate;
}

@media screen and (max-width: 1140px) and (min-width: 960px) {
  .card {
    width: 310px;
    height: 189px;
  }
}

@media screen and (max-width: 540px) {
  .card {
    width: 300px;
    height: 189px;
  }
}

@-webkit-keyframes flip-card {
  0% {
    -webkit-transform: rotateX(-10deg) rotateY(10deg) rotate(-15deg);
            transform: rotateX(-10deg) rotateY(10deg) rotate(-15deg);
  }
  40% {
    -webkit-transform: rotateX(0deg) rotateY(20deg);
            transform: rotateX(0deg) rotateY(20deg);
  }
  60% {
    -webkit-transform: rotateX(180deg) rotateY(20deg);
            transform: rotateX(180deg) rotateY(20deg);
  }
  100% {
    -webkit-transform: rotateX(190deg) rotateY(10deg) rotate(15deg);
            transform: rotateX(190deg) rotateY(10deg) rotate(15deg);
  }
}

@keyframes flip-card {
  0% {
    -webkit-transform: rotateX(-10deg) rotateY(10deg) rotate(-15deg);
            transform: rotateX(-10deg) rotateY(10deg) rotate(-15deg);
  }
  40% {
    -webkit-transform: rotateX(0deg) rotateY(20deg);
            transform: rotateX(0deg) rotateY(20deg);
  }
  60% {
    -webkit-transform: rotateX(180deg) rotateY(20deg);
            transform: rotateX(180deg) rotateY(20deg);
  }
  100% {
    -webkit-transform: rotateX(190deg) rotateY(10deg) rotate(15deg);
            transform: rotateX(190deg) rotateY(10deg) rotate(15deg);
  }
}

@-webkit-keyframes change-bg-card {
  0%,
  49% {
    background-image: url("../svg/card-front.svg");
    background-size: cover;
  }
  50%,
  100% {
    background-image: url("../svg/card-verse.svg");
    background-size: cover;
  }
}

@keyframes change-bg-card {
  0%,
  49% {
    background-image: url("../svg/card-front.svg");
    background-size: cover;
  }
  50%,
  100% {
    background-image: url("../svg/card-verse.svg");
    background-size: cover;
  }
}

.icon-card-hero {
  position: absolute;
  top: -70px;
  left: -30px;
  z-index: 200;
  -webkit-animation: icons-home 7s ease 0.5s infinite alternate;
          animation: icons-home 7s ease 0.5s infinite alternate;
}

@media screen and (max-width: 960px) {
  .icon-card-hero {
    top: 50px;
    left: 180px;
  }
}

@media screen and (max-width: 540px) {
  .icon-card-hero {
    top: 40px;
    left: 130px;
  }
}

.icon-contactless-hero {
  position: absolute;
  top: 290px;
  left: 80px;
  z-index: 200;
  -webkit-animation: icons-home 7s ease 1s infinite alternate;
          animation: icons-home 7s ease 1s infinite alternate;
}

@media screen and (max-width: 960px) {
  .icon-contactless-hero {
    top: 15px;
    left: -200px;
  }
}

@media screen and (max-width: 540px) {
  .icon-contactless-hero {
    top: 30px;
    left: -140px;
  }
}

.icon-mobile-hero {
  position: absolute;
  top: 150px;
  left: -228px;
  z-index: 200;
  -webkit-animation: icons-home 7s ease 2.5s infinite alternate;
          animation: icons-home 7s ease 2.5s infinite alternate;
}

@media screen and (max-width: 960px) {
  .icon-mobile-hero {
    top: 350px;
    left: -100px;
  }
}

@-webkit-keyframes icons-home {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(10px, -40px, 0);
            transform: translate3d(10px, -40px, 0);
  }
}

@keyframes icons-home {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(10px, -40px, 0);
            transform: translate3d(10px, -40px, 0);
  }
}

.bg-home-blur1 {
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0);
}

.bg-home-blur1 {
  -webkit-transform: translate3d(0, -150px, 0);
          transform: translate3d(0, -150px, 0);
}

.bg-home-rect1 {
  -webkit-animation: bg-home-rect 3s ease 0s infinite alternate;
          animation: bg-home-rect 3s ease 0s infinite alternate;
}

.bg-home-rect2 {
  -webkit-animation: bg-home-rect 3s ease 0.5s infinite alternate;
          animation: bg-home-rect 3s ease 0.5s infinite alternate;
}

.bg-home-rect3 {
  -webkit-animation: bg-home-rect 3s ease 1s infinite alternate;
          animation: bg-home-rect 3s ease 1s infinite alternate;
}

.bg-home-rect4 {
  -webkit-animation: bg-home-rect 3s ease 1.5s infinite alternate;
          animation: bg-home-rect 3s ease 1.5s infinite alternate;
}

@-webkit-keyframes bg-home-rect {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
}

@keyframes bg-home-rect {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
}

.people1 {
  opacity: 0;
  -webkit-animation: people 10s ease 0s infinite;
          animation: people 10s ease 0s infinite;
}

.people2 {
  opacity: 0;
  -webkit-animation: people 10s ease 5s infinite;
          animation: people 10s ease 5s infinite;
}

.people3 {
  opacity: 0;
  -webkit-animation: people 10s ease 2s infinite;
          animation: people 10s ease 2s infinite;
}

.people4 {
  opacity: 0;
  -webkit-animation: people 10s ease 7s infinite;
          animation: people 10s ease 7s infinite;
}

.people5 {
  opacity: 0;
  -webkit-animation: people 10s ease 3s infinite;
          animation: people 10s ease 3s infinite;
}

.people6 {
  opacity: 0;
  -webkit-animation: people 10s ease 8s infinite;
          animation: people 10s ease 8s infinite;
}

@media screen and (max-width: 960px) {
  #people2 {
    display: none;
  }
}

@-webkit-keyframes people {
  0% {
    opacity: 0;
  }
  20%,
  50% {
    opacity: 1;
  }
  70%,
  100% {
    opacity: 0;
  }
}

@keyframes people {
  0% {
    opacity: 0;
  }
  20%,
  50% {
    opacity: 1;
  }
  70%,
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */