button,
a {
  cursor: pointer;
}

a {
  @include typeface-2(p2);
  text-decoration: none;
  color: $black-normal;
  transition: 0.5s ease;
  display: inline-block;

  &:hover {
    opacity: 0.9;
  }
}

.btn {
  background: linear-gradient(
    220.94deg,
    $secondary-normal 14.43%,
    $primary-normal 85.28%
  );
  border-radius: 16px;
  transition: 0.3s ease;
  color: $white-light;
  // margin-right: 24px;

  padding: 12px 32px;

  box-shadow: 0px 17px 17px rgba(169, 80, 196, 0.13),
    0px 5.125px 5.125px rgba(169, 80, 196, 0.0847066),
    0px 2.12866px 2.12866px rgba(169, 80, 196, 0.065),
    0px 0.769896px 0.769896px rgba(169, 80, 196, 0.0452935);

  &:hover {
    box-shadow: 0px 17px 31px rgba(169, 80, 196, 0.27),
      0px 5.125px 9.34559px rgba(169, 80, 196, 0.175929),
      0px 2.12866px 3.88168px rgba(169, 80, 196, 0.135),
      0px 0.769896px 1.40393px rgba(169, 80, 196, 0.094071);
  }
}

.link {
  display: inline-block;
  background-image: url('../../svg/icon-arrow.svg');
  background-repeat: no-repeat;
  background-position: 0% 50%;
  font-size: 18px;

  padding: 16px 16px 16px 40px;

  position: relative;

  color: $primary-normal;

  transition: 0.4s ease;

  &:hover {
    transform: translateX(8px);
  }
}
