$primary-normal: #82269e;
$primary-light: #9c4fb4;
$primary-dark: #701f88;

$secondary-normal: #a950c4;
$secondary-light: #bb71d2;
$secondary-dark: #9142a8;

$white-normal: #f7f2fa;
$white-light: #fefbff;
$white-dark: #edeaef;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #666566;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;

$gradient-gray-1: linear-gradient(
  180deg,
  #8b8a8c 0%,
  rgba(139, 138, 140, 0) 100%
);
$gradient-gray-2: linear-gradient(
  360deg,
  #8b8a8c 0%,
  rgba(139, 138, 140, 0) 100%
);
$gradient-gray-3: linear-gradient(
  270deg,
  #8b8a8c 0%,
  rgba(139, 138, 140, 0) 100%
);
$gradient-gray-4: linear-gradient(
  90deg,
  #8b8a8c 0%,
  rgba(139, 138, 140, 0) 100%
);
$gradient-gray-5: linear-gradient(
  225deg,
  #8d8c8e 0%,
  rgba(141, 140, 142, 0) 100%
);

$gradient-1: linear-gradient(220.94deg, #a950c4 14.43%, #82269e 85.28%);
$gradient-2: linear-gradient(180deg, #82269e 0%, rgba(130, 38, 158, 0) 100%);
$gradient-3: linear-gradient(0deg, #82269e 0%, rgba(130, 38, 158, 0) 100%);
$gradient-4: linear-gradient(270deg, #82269e 0%, rgba(130, 38, 158, 0) 100%);
$gradient-5: linear-gradient(90deg, #82269e 0%, rgba(130, 38, 158, 0) 100%);
$gradient-6: linear-gradient(225deg, #8429a0 0%, rgba(132, 41, 160, 0) 100%);

$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #32d957;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;
