$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

@mixin responsive($device) {
  // For resolutions upper than 1440px
  @if $device == xl {
    @media screen and (min-width: $container-xl) {
      @content;
    }
  } @else if $device == l {
    // For resolutions between 1140px and 1440px
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  } @else if $device == m {
    // For resolutions between 960px and 1140px
    @media screen and (max-width: $container-l) and (min-width: $container-m) {
      @content;
    }
  } @else if $device == s {
    // For resolutions less than 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  } @else if $device == xs {
    // For resolutions less than 540px
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

.container {
  max-width: $container-xl;
  margin: 0 auto;

  padding: 96px 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;
  overflow: hidden;

  @include responsive(s) {
    flex-direction: column;

    padding: 32px 18px;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;

  @include responsive(xl) {
    p {
      max-width: 440px;
    }
  }

  @include responsive(m) {
    p {
      max-width: 390px;
    }
  }

  @include responsive(l) {
    p {
      max-width: 438px;
    }
  }

  @include responsive(s) {
    display: flex;
    text-align: center;
    flex-direction: column;

    p {
      max-width: 600px;
      margin: 16px auto;
      text-align: center;
    }
    h1 {
      max-width: 700px;
    }

    .flex-start {
      margin: 8px auto;
    }
  }
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  display: flex;
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-item-auto {
  flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

.hero {
  height: 90%;

  @include responsive(s) {
    height: auto;
  }
}

.bg-home {
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: absolute;
  z-index: -1;
}

.svg-bg-home {
  width: 100%;

  @include responsive(xl) {
    width: 100%;
  }
  @include responsive(s) {
    width: 150%;
  }
}

.hero {
  height: 90vh;

  @include responsive(s) {
    height: auto;
  }
}

.list-item {
  list-style: none;
  position: relative;

  padding: 8px 8px 8px 72px;
  margin-bottom: 48px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -8px;

    display: block;

    width: 64px;
    height: 64px;
  }
}

.best {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  border-radius: 50px;

  background-color: $white-normal;

  @include responsive(s) {
    flex-direction: column;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;

    top: 0;
    left: 50%;

    transform: translate(-50%, 0);

    width: 124px;
    height: 32px;
    background-image: url('../../svg/entail.svg');
    background-repeat: no-repeat;
  }
}

.best-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 16px;
  margin: 8px 0px;

  @include responsive(s) {
    justify-content: center;
    align-items: center;
  }
}
