.dropshadow {
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
}

.bg-icon-check {
  &::after {
    background-image: url('../../svg/icon-check.svg');
    background-size: cover;
    transition: 0.5s ease;

    width: 40px;
    height: 40px;

    left: 8px;
    top: 16px;

    cursor: pointer;

    filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  }

  &:hover {
    &::after {
      transform: scale(1.05);
    }
  }
}

.icon {
  filter: drop-shadow(0px 16px 24px rgba(169, 80, 196, 0.25));
  transition: 0.5s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}
